@import url('https://fonts.googleapis.com/css?family=Righteous');


#navText {
    font-family: 'Righteous', cursive;
    margin: auto;
}

#contain {
    width: 80vw;
}

.loginBtn {
    margin-right: 14px;
}

.logoutBtn {
    margin-top: 10px;
    margin-right: 15px;
}

.test {
    margin-top: 12px;
}

.listBtn {
    display: flex;
}
#drop{
    margin: auto;
    text-align: center;
    display: inline
}

