@import url('https://fonts.googleapis.com/css?family=Righteous');


#navText {
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    display: inline-block;
}

#contain {
    width: 80vw;
}

.loginBtn {
    margin-right: 14px;
}

.logoutBtn {
    margin-top: 10px;
    margin-right: 15px;
}

.test {
    margin-top: 12px;
}

.listBtn {
    display: flex;
}