body, html{
  height: 100%;
}

/* :root {
  --space: 1.5em 0;
  --space: 2em 0;
} */

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  margin: auto;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.App{
  /* background-image: url('./components/Images/adviror.jpg'); */
   /* Full height */
   background-image: url('../src/components/Images/wood.jpg');
   background-color: darkblue;
   height: 100%; 

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   margin: auto;
}



/* 


ul padding {
  padding: 0;
}

li {
  list-style-type: none;
}

.pages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.rightside {
  display: flex;
  justify-content: right;
}


.userRanking {
  display: flex;
  justify-content: center;
}

#messageDiv {
  border: 1px solid blue;
  color: darkgoldenrod;
}

.messageClass {
  border: 1px solid orange;
  padding: 10px
}


} */

